@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@500&display=swap');

:root{
   
}

* {
    font-family: 'Anek Bangla', sans-serif;
}

body {
    width: 100%;
    height: min(100%, 100vh);
    margin: 0;
}

.content-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.sidebar-container {
    grid-area: 1 / 1 / 3 / 2;
    background-color: blue;
    
}

.sidebar-content {
    display: grid;
    gap: 15px;
    grid-template-rows: 1fr 4fr;
    color: antiquewhite;
    justify-items: start;
    align-items: start;
    height: 65vh;
}

.sidebar {
    display: grid;
    margin-left: 23px;
    padding: 0;
    gap: 15px;
}

.sidebar-top, .sidebar-bottom {
    display: grid;
    gap: 15px;
}
ul {
    padding: 0;
}

li {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: max(18px, 1.8vw);
    font-weight: bold;
} 

.dashboard {
    font-size: max(28px, 2.8vw);
    display: flex;
    align-items: center;
    gap: 9px;
    height: fit-content;
    margin: 20px;
}

.dashboard > img {
    height: 36px;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: brown;
    display: grid;
    grid-template: 1fr 2fr / 1.5fr 1fr;
    padding: 15px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-self: start;
    padding-left: max(20px, 5%);
    gap: clamp(5px, 0.7vw , 18px);
}

.searchbar input {
    -webkit-appearance: none;
    width: clamp(150px, 40vw, 600px);
    height: 26px;
    border: none;
    border-radius: 30px;
    background-color: gray;
    padding: 1px 4px 1px 10px;
}

.searchbar input:focus{
    outline: none;
    border: 1px solid black;
}

.top-right {
    display: flex;
    gap: max(10px, 2.5vw);
    align-items: center;
    justify-self: end;
    padding-right: 9%;
}

.top-right img {
    flex: 0;
    height: 24px;
}

.bottom-left {
    display: flex;
    align-items: flex-end;
    gap: max(10px, 1vw);
    padding-left: max(25px, 6%);
}

.bottom-left-profile-info {
    vertical-align: bottom;
}

.hi-there {
    font-size: 15px;
}

.profile-name {
    font-size: max(18px, 1.5vw);
}

.profile-picture-large {
    height: 60px;
    width: 60px;
    background-color: black;
}

.profile-picture-small  {
    height: 30px;
    width: 30px;
    background-color: black;
}

.bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 9%;
    padding-top: 4%;
}

.bottom-right button {
    appearance: none;
    outline: none;
    border: none;
    padding: 7px 0px;
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    background-color: blue;
    max-height: 40px;
    width: 105px;
    
}

.main-container {
    grid-area: 2 / 2 / 3 / 3;
    background-color: gray;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.projects-container {
    grid-area: 1 / 1 / 3 / 2;
}

.announcements-container {
    grid-area: 1 / 2 / 2 / 3;
}

.trending-container {
    grid-area: 2 / 2 / 3 / 3;
}

.projects, .announcements-header, .trending-header {
    font-size: 20px;
    font-weight: bold;
}

.main {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.main div{
    width: 200px;
    min-height: 200px;
    background-color: aliceblue;
}

.announcements, .trending-items {
    background-color: white;
    border-radius: 15px; 
    padding: 25px;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcements-one, .announcements-two  {
    padding-bottom: 20px;
    border-bottom: 0.2px solid gray;
}

.announcements-title {
    font-weight: bold;
    font-size: 17px;
}

.announcements-text {
    font-size: 13px;
    color: gray;
    line-height: 98%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    
}